body{
    background-color: #FDFFAE;
}
.header{
    font-family: 'Ingrid Darling';
    font-weight: bolder;
    font-size: 24px;
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid{
    height: 10%;
    background-color: #C3EDC0;
    width: 100%;
}
.navbar{
    height: 7%;
    color: #C3EDC0;
    width: 100%;
}

.btn{
    margin-left: 1%; 
}
.add_btn{
    margin-left: 20%;
    width: 150px;
    height: 10px;
    margin-bottom: 30px;   
}
.logout_btn{
    margin-right: 50%;
    width: 150px;
    height: 10px;
    margin-bottom: 30px;  
}
.search{
    margin-left: 25%;
    border-radius: 15px;
    border: none;
    padding: 7px;
}
.events{
    font-family: 'Imprima' ;
    font-weight: bolder;
    font-size: 32px;
    margin-left: 10%;
}
.prompt{
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
    
}
.about{
    margin-top: 2%;
    margin-left: 10%;
}
.s1{
    margin-top: 0.5%;
    width: 90%;
}
.s2{
    margin-top: 2%;
}


.service{
    margin-top: 5%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.a2{
    margin-top: 50%;
}

  .display{
    border-radius: 15px;
    background-color:  #C3EDC0;
    width: 450px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .display1{
    border-radius: 15px;
    background-color: #FDFFAE ;
    width: 450px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .alert{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
  .events{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
  }
  
